@charset "UTF-8";
/**********************************************************MIXIN**********************************************************/
/******************************************************VARIABLES**********************************************************/
/********************************************************FONTS*************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.1);
  position: relative;
}
header .goback {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 20px;
  margin-top: 20px;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.textlocalisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.textlocalisation p {
  margin-left: 16px;
  font-weight: 400;
}

.principal1 {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.principal1 .section_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.principal1 h1 {
  font-size: 24px;
  margin: 40px 30px 0px 30px;
}
.principal1 h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 20px;
}

.explorer,
.commander {
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  cursor: pointer;
}
.explorer:hover,
.commander:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

.explorer {
  width: 218px;
  height: 50px;
}

.commander {
  margin: 20px;
  width: 186px;
  height: 50px;
}

.titlefonctionnement {
  padding: 40px 25px 70px 25px;
}

.fonctionnement {
  display: grid;
  gap: 20px;
  padding: 10px;
}
.fonctionnement .choisissez,
.fonctionnement .composez,
.fonctionnement .dégustez {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  height: 72px;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 3%;
}
.fonctionnement .choisissez p,
.fonctionnement .composez p,
.fonctionnement .dégustez p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background-color: #9356dc;
  color: white;
}
.fonctionnement .choisissez h4,
.fonctionnement .composez h4,
.fonctionnement .dégustez h4 {
  font-size: 16px;
  font-weight: 500;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 60px 25px;
}
.restaurant h2 {
  margin: auto;
}

.imgrestaurants {
  display: grid;
}

.image1,
.image2,
.image3,
.image4 {
  border-radius: 15px;
  margin-top: 20px;
  position: relative;
  background-color: #fff;
}
.image1 .nouveau,
.image2 .nouveau,
.image3 .nouveau,
.image4 .nouveau {
  background-color: #99e2d0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  padding: 5px;
  margin: 15px;
  right: 0;
  top: 0;
}

.imgpalette {
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.txtimg {
  padding: 5%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.txtimg .coeur {
  position: relative;
  right: 0;
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.txtimg .coeur_vide,
.txtimg .coeur_rose {
  position: absolute;
  display: flex;
}
.txtimg .coeur_rose {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.txtimg .coeur_rose:hover {
  opacity: 1;
}
.txtimg .titreimg {
  font-size: 18px;
  font-weight: 700;
}
.txtimg .soustitreimg {
  font-size: 17px;
  font-weight: 300;
}

.imgmenu {
  width: 100%;
  height: 275px;
  margin-bottom: -60px;
  object-fit: cover;
}

.fondmenu {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 60px 60px 0px 0px;
  padding: 5% 10%;
  position: relative;
  width: auto;
}
.fondmenu .titlelike {
  align-items: center;
  display: flex;
  position: relative;
}
.fondmenu .titlelike .coeur_p2 {
  display: flex;
  align-items: center;
}
.fondmenu .titlelike .coeur_p2 .coeur_vide,
.fondmenu .titlelike .coeur_p2 .coeur_rose {
  position: absolute;
}
.fondmenu .titlelike .coeur_p2 .coeur_rose {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.fondmenu .titlelike .coeur_p2 .coeur_rose:hover {
  opacity: 1;
}
.fondmenu .titlelike h2 {
  margin-right: 20px;
  font-family: "Shrikhand", serif;
  font-size: 28px;
}
.fondmenu .entrées,
.fondmenu .plat,
.fondmenu .desserts {
  width: 100%;
}
.fondmenu .entrées h3,
.fondmenu .plat h3,
.fondmenu .desserts h3 {
  border-bottom: 2px solid #99e2d0;
  padding-bottom: 5px;
  font-weight: 300;
  width: 30px;
  font-size: 16px;
  text-transform: uppercase;
}

.lebloc:hover p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 95px);
}

.lebloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.lebloc:hover span {
  transform: translateX(calc(-100% - 25px));
  position: static;
}
.lebloc span {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: end;
  right: 0;
  transition: transform 400ms;
}
.lebloc:hover .bglogovalider {
  transform: none;
}
.lebloc .bglogovalider {
  background-color: #99e2d0;
  position: absolute;
  width: 60px;
  height: 100%;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
}
.lebloc .bglogovalider .logovalider {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5%;
  background-color: #fff;
}
.lebloc .bglogovalider .logovalider svg {
  fill: #99e2d0;
}
.lebloc .txtbloc {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lebloc .txtbloc .titremenu {
  font-size: 18px;
  width: 100%;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lebloc .txtbloc p {
  transition: width 0.3s;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
  margin-top: 2px;
  margin-bottom: 0px;
}
.lebloc .txtbloc p:hover {
  width: calc(100% - 95px);
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: first baseline;
  background-color: #353535;
  color: white;
  padding: 15px;
}
footer img {
  margin: 20px;
  height: 20px;
}
footer .txtfooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .txtfooter p {
  margin: 0px;
}
footer .txtfooter .ContactMail {
  color: white;
  text-decoration: none;
}

/***ANIMATION DU LOADER ***/
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  animation: fin 3500ms forwards;
}
.loader-wrapper .loader {
  border: 16px solid #ff79da;
  border-top: 3px solid #9356dc;
  border-bottom: 3px solid #9356dc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1500ms linear;
  transform-origin: bottom;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fin {
  to {
    opacity: 0;
    z-index: 0;
    display: none;
  }
}

/***ANIMATION MENU***/
.entrées .lebloc {
  animation: lebloc 1s forwards;
}
@keyframes lebloc {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

.plat .lebloc {
  animation: lebloc 2s forwards;
}
@keyframes lebloc {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

.desserts .lebloc {
  animation: lebloc 4s forwards;
}
@keyframes lebloc {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

/*********************************Media queries***************************************/
@media screen and (min-width: 769px) {
  .titlefonctionnement {
    padding: 50px 120px;
  }
  .titlefonctionnement .section_fonctionnement {
    max-width: 1011px;
    margin: auto;
  }
  .titlefonctionnement .section_fonctionnement .fonctionnement {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .restaurant {
    padding: 20px 50px;
  }
  .restaurant .section_restaurant {
    margin: auto;
    max-width: 1011px;
    justify-content: center;
  }
  .restaurant .imgrestaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1011px;
  }
  /*********************PAGE 2**********************/
  .principal {
    display: flex;
    justify-content: center;
  }
  .principal .fondmenu {
    width: 60%;
  }
  footer {
    flex-direction: row;
    justify-content: right;
  }
  footer .txtfooter {
    gap: 20px;
    margin-right: 50px;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
